{% extends "base.html" %}
{% load staticfiles%}
{% load i18n %}

{% block title %}
<div align="center"><h1>Bem-vindo ao SAAP!</h1></div>
{% endblock %}

{% block base_content %}
<div class="grid" align="center">
  <div class="col-1-2">
     <image class="module">
        <img src="{% static 'img/index_agenda.png' %}">
     </image>
  </div>
  <div class="col-1-2">
    <image class="module">
        <img src="{% static 'img/index_contatos.png' %}">
    </image>
  </div>
</div>
<div class="grid" align="center">
  <div class="col-1-3">
     <image class="module">
        <img src="{% static 'img/index_reuniao.png' %}">
     </image>
  </div>
  <div class="col-1-3">
    <image class="module">
        <img src="{% static 'img/index_etiquetas.png' %}">
    </image>
  </div>
  <div class="col-1-3">
     <image class="module">
        <img src="{% static 'img/index_documentos.png' %}">
     </image>
  </div>
</div>
{% endblock %}
