{% extends "sistema.html" %}
{% load i18n crispy_forms_tags common_tags %}

{% block base_content %}

  <fieldset>
  <legend><h1 class="page-header">{% trans "Relatórios" %}</h1></legend>

  {% block title %}
  {% endblock %}

    {% if perms.core.menu_contatos %}
    <h2>Contatos</h2>
    <table class="table">
    <tbody>
        <tr>
          <td width="30%"><a href="{% url 'saap.cerimonial:print_rel_contatos' %}">{% trans "Listagem" %}</a></td>
          <td> Lista completa de contatos, em PDF, contendo algumas informações.</td>
        </tr>
        <tr>
          <td><a href="{% url 'saap.cerimonial:print_contato' %}">{% trans "Detalhamento" %}</a></td>
          <td> Ficha completa, com todos os dados de um contato.</td>
        </tr>
    </tbody>
    </table>
    {% endif %}

    {% if perms.core.menu_processos %}
    <h2>Processos</h2>
    <table class="table">
    <tbody>
        <tr>
          <td width="30%"><a href="{% url 'saap.cerimonial:print_rel_processos' %}">{% trans "Listagem" %}</a></td>
          <td> Lista completa de processos, em PDF, contendo algumas informações.</td>
        </tr>
        <tr>
          <td><a href="{% url 'saap.cerimonial:print_processo' %}">{% trans "Detalhamento" %}</a></td>
          <td> Ficha completa, com todos os dados de um processo.</td>
        </tr>
    </tbody>
    </table>
    {% endif %}

    {# if perms.core.menu_agenda #}
    {% if perms.core.menu_contatos %} {# Permissão temporária. Criar no futuro #}
    <h2>Agenda</h2>
    <table class="table">
    <tbody>
        <tr>
          <td width="30%"><a href="{% url 'saap.cerimonial:print_rel_agenda' %}">{% trans "Listagem" %}</a></td>
          <td> Lista completa de eventos e compromissos, em PDF.</td>
        </tr>
        <tr>
          <td width="30%"><a href="{% url 'saap.cerimonial:print_evento' %}">{% trans "Detalhamento" %}</a></td>
          <td> Ficha completa, com todos os dados de um evento.</td>
        </tr>
    </tbody>
    </table>
    {% endif %}


  </fieldset>

{% endblock base_content %}
