{% extends "base.html" %}
{% load i18n staticfiles sass_tags %}
{% block button_toogle %}{%endblock%}
{% block global_container %}{%endblock%}
{% block login_container %}

<main id="content" class="content page__row">

<meta http-equiv="refresh" content="5;url=/login" />

<div class="container" id ="container-password-reset-done">

      <div class="row">
          
	<div class="col-md-4 col-md-offset-4">
              <div class="login-panel panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title"><center>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</center></h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
{% endblock  %}
