{% extends "base.html" %}
{% load i18n staticfiles sass_tags %}
{% block button_toogle %}{%endblock%}
{% block global_container %}{%endblock%}
{% block login_container %}

  <!-- O bloco comentado é para ser implementado após as autorizacoes -->
  <!-- {% if next %}
    {% if user.is_authenticated %}
      <p>Você não tem acesso a esta página. Se quiser continuar, faça o Login.</p>

      {% else %}
        <p>Por favor, faça o Login para acessar esta página.</p>
      {% endif %}

  {% endif %} -->
<main id="content" class="content page__row">
<div class="container" id ="container-password-change">

      <div class="row">
          
	<div class="col-md-4 col-md-offset-4">
              <div class="login-panel panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title"><center>Alterar senha</center></h3>
			
                  </div>
			
                  <div class="panel-body">
		    <form id="login-form" method="post" action="{% url 'saap.core:password_change' %}">
 			{% if form.errors %}
              		    <div class="alert alert-danger">
                            {% if form.errors.items|length == 1 %}
                                {% trans "Please correct the error below." %}
                            {% else %}
                                {% trans "Please correct the errors below." %}
                            {% endif %}
              		    </div>
                        {% elif form.is_valid %}
              		    <div class="alert alert-success">
                                Senha alterada com sucesso!
              		    </div>
            		{% endif %}

  			{% csrf_token %}

                          <p class="bs-component"></p>
			  <p><b></b></p><center><b>Senha antiga</b></center><p><p>
                          {{ form.old_password }}                	
                          {% if form.old_password.errors %}<span class="text-danger">{{ form.old_password.errors|striptags }}</span>{% endif %}
			  <p><b></b></p><center><b>Senha nova</b></center><p></p>
                          {{ form.new_password1 }}                	  
                          {% if form.new_password1.errors %} <span class="text-danger">{{ form.new_password1.errors|striptags }}</span>{% endif %}
                          {% if form.new_password1.help_text %}<span class="text-info">{{ form.new_password1.help_text }}</span>{% endif %}
			  <p></p>
                          {{ form.new_password2 }}
                          {% if form.new_password2.errors %} <span class="text-danger">{{ form.new_password2.errors|striptags }}</span>{% endif %}
                          {% if form.new_password2.help_text %}<span class="text-info">{{ form.new_password2.help_text }}</span>{% endif %}

          	<input  type="hidden" name="next" value="{{ next }}" />

                          <p></p>
                          <p class="bs-component">
                              </p><center>
                                  <input class="btn btn-lg btn-success btn-block" type="submit" value="{% trans 'Change my password' %}" />
                              </center>
                          <p></p>
                          <input name="next" value="" type="hidden">
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
{% endblock  %}

{% block extra_js %}

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
<!---
  <script>

     $("#autenticacao") .css("display","none");
    $("html").addClass('html-login');
  </script>
--->
{% endblock %}
