{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

<div id="conteudo">

<h1 class="firstHeading">Acesso ao Sistema</h1>

<br />

Para acessar o SAAP da sua Casa Legislativa, basta digitar o endereço na barra de endereços do seu navegador. Por exemplo, para acessar o SAAP da Câmara de Novo Hamburgo, digite <a href="http://saap.camaranh.rs.gov.br">saap.camaranh.rs.gov.br</a>. <br />

<br />

Caso você não tenha feito anteriormente o login, a tela aparecerá sem o seu nome à esquerda do ícone de usuário, e com o menu superior oculto. <br />

<br />

Importante lembrar que o SAAP pode ser acessado de qualquer computador - não é preciso necessariamente estar dentro do órgão usando um computador institucional. É possível, inclusive, acessar de outros dispositivos, como <i>tablets</i> e <i>smartphones</i> - embora, nestes, o <i>design</i> ainda não esteja totalmente adaptado. <br />

<br />
<br />
  Anterior |
  <a href="{% url 'saap.core:help'%}">&Iacute;ndice</a> |
   <a href="{% url 'saap.core:help_topic' 'login' %}">Pr&oacute;xima</a>
<br />

</div>

{% endblock base_content %}
