{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

<div id="conteudo">

<h1 class="firstHeading">Agenda e calendário</h1>

<br />


O SAAP possui um sistema completo de cadastro de eventos, compromissos e agenda, não apenas permitindo a sua gestão, mas também a sua visualização dinâmica no calendário. O cadastro da agenda permite informar dados diversos, como data e hora de início e término, localização, entre outros. Para completar, o sistema ainda fornece uma tela com um calendário de aniversariantes, possibilitando saber os Contatos que completam mais um ano. 

<br />
<br />
  <a href="{% url 'saap.core:help_topic' 'processospesquisa' %}">Anterior</a> |
  <a href="{% url 'saap.core:help'%}">&Iacute;ndice</a> |
  <a href="{% url 'saap.core:help_topic' 'calendario' %}">Pr&oacute;xima</a>
<br />

</div>

{% endblock base_content %}
