{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

<div id="conteudo">

<h1 class="firstHeading">Cadastro de Contatos</h1>

<br />

Para cadastrar um novo evento ou compromisso, é necessário clicar no no botão <b>Novo evento</b>, dentro da tela da <b>Agenda</b> <br />

<br />

O formulário possui diversos campos, porém apenas aqueles que estão destacados em <span class='erro'>vermelho</span> são obrigatórios. No caso, os campos de <span class='erro'>Título</span>, <span class='erro'>Início</span> e <span class='erro'>Término</span>. <br />

<h2>Evento</h2>

<ul>
    <li><b>Título</b>: Título ou nome do evento/compromisso. Procurar ser sucinto, pois é o que aparece no calendário.
    <li><b>Descrição</b>
    <li><b>Localização</b>: Informações sobre a localização do evento, como endereço, ponto de referência e proximidade. Não é necessário informar bairro, cidade ou estado, pois os mesmos possuem campos próprios. 
    <li><b>Início</b>: Informação da data e hora de início do evento. 
    <li><b>Término</b>: Informação da data e hora de término do evento. Precisa ser necessariamente posterior ao seu início, mesmo que seja no minuto seguinte.
</ul>

<h2>Editar ou Excluir</h2>

Para <b>Editar</b> um evento, clicando no mesmo dentro do calendário, o SAAP abrirá o mesmo formulário, porém com os dados preenchidos, sendo possível sua alteração. <br />

<br />

Para <b>Excluir</b> um evento, basta clicar no botão <b>Excluir</b>, dentro do formulário de edição do evento, e o SAAP perguntará se o usuário deseja mesmo excluir o contato. Basta clicar em <b>Confirmar</b> para excluir, ou <b>Cancelar</b> a exclusão. <br />

<br />
<br />
  <a href="{% url 'saap.core:help_topic' 'agendacalendario' %}">Anterior</a> |
  <a href="{% url 'saap.core:help'%}">&Iacute;ndice</a> |
   <a href="{% url 'saap.core:help_topic' 'correspondencias' %}">Pr&oacute;xima</a>
<br />

</div>

{% endblock base_content %}
