{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

<div id="conteudo">

<h1 class="firstHeading">Agenda de aniversariantes</h1>

<br />

A agenda de aniversariantes do SAAP permite a visualização mensal dos Contatos e seus respectivos aniversários.<br />

 <br />

A exibição dos compromissos em forma de calendário facilita a associação entre dia do mês e dia da semana - por exemplo, saber quantos contatos fazem aniversário em um dia, ou em um fim de semana. O dia atual é destacado em verde claro, enquanto os dias que já passaram ficam em cinza.<br />

 <br />

Os aniversariantes do dia estão logo abaixo do número do dia do mês, em ordem decrescente de idade. Cada contato possui, além do nome, a idade que está completando naquele dia. Isso significa que se navegarmos no ano anterior, automaticamente o contato aparecerá com um ano a menos. <br/>

<br />

Ao posicionar o mouse em cima do nome do contato, são exibidas as informações de data de nascimento, endereço, telefone e e-mail.  Além disto, ao clicar em cima do título do evento, o sistema redirecionará para o cadastro completo do mesmo.<br />

 <br />

Para navegar nos meses, basta usar os botões no alto do calendário:<br />

 <br />

<ul>
    <li><b>Ano anterior</b>: Volta um ano em relação ao mês/ano exibido no calendário. Se o calendário mostra o mês de julho de 2022, ao clicar no botão é carregado o mês de julho de 2021.
    <li><b>Mês anterior</b>: Volta um mês em relação ao mês exibido no calendário. Se o calendário mostra o mês de julho de 2022, ao clicar no botão é carregado o mês de junho de 2022.
    <li><b>Mês atual</b>: Exibe o mês atual do calendário, independente do mês exibido no calendário. É o equivalente a clicar no menu <b>Agenda</b>
    <li><b>Próximo mês</b>: Avança um mês em relação ao mês exibido no calendário. Se o calendário mostra o mês de julho de 2022, ao clicar no botão é carregado o mês de agosto de 2022.
    <li><b>Próximo ano</b>: Avança um ano em relação ao mês/ano exibido no calendário. Se o calendário mostra o mês de julho de 2022, ao clicar no botão é carregado o mês de julho de 2023.
</ul>


<br />
<br />
  <a href="{% url 'saap.core:help_topic' 'eventospesquisa' %}">Anterior</a> |
  <a href="{% url 'saap.core:help'%}">&Iacute;ndice</a> |
   <a href="{% url 'saap.core:help_topic' 'correspondencias' %}">Pr&oacute;xima</a>
<br />

</div>

{% endblock base_content %}
