{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

<div id="conteudo">

<h1 class="firstHeading">Endereços</h1>

<br/ >

Após cadastrar um contato, é possível gerenciar os demais dados dele. O primeiro deles é o de <b>Endereços</b>. Basta clicar no menu da barra superior. Para adicionar um novo endereço, deve-se clicar em <b>Adicionar Endereço</b>. <br />

<br />

O formulário possui diversos campos, porém apenas aqueles que estão destacados em <span class="erro">vermelho</span> são obrigatórios. <br/>

<h2>Tipo de endereço</h2>

<ul>
    <li><b>Tipo do endereço</b>: Comercial, residencial ou profissional
    <li><b>Principal</b>: Endereço considerado como principal. Sim ou Não
    <li><b>Contato</b>: Endereço a ser usado para contato. Sim ou Não
</ul>

Para entender o que é o endereço principal e o endereço de contato, digamos que uma pessoa more em uma determinada residência, porém deseja que as cartas/correspondências sejam enviadas para outro endereço.<br />

<br />

O endereço de moradia seria o "endereço principal", porém o endereço de envio de correspondências é o "endereço de contato". O endereço de contato é o que é gerado nos envelopes ou etiquetas. <br />

<br />

Lembre-se que apenas um dos endereços cadastrados pode ser definido como <b>Principal</b>, e apenas um deles pode ser de <b>Contato</b>. Isso significa que, se já houver um endereço marcado <b>Sim</b> para principal, ao adicionar um novo endereço também marcando <b>Sim</b>, o anterior passa a estar, automaticamente, como <b>Não</b>. <br />

<h2>Dados do endereço</h2>

<ul>
    <li><b>Endereço</b>: Completo, sem o número. Há um limite de 35 caracteres, a fim de não prejudicar a impressão de etiquetas.
    <li><b>Número</b>: Número do endereço. Se não tiver número, informar zero.
    <li><b>Complemento</b>: Limite de 10 caracteres.
    <li><b>CEP</b>: Basta digitar os números, que automaticamente são colocados os sinais de pontuação.
    <li><b>Estado</b>: Selecionado por padrão o estado da Casa Legislativa.
    <li><b>Cidade</b>: Exibe a lista de cidades do estado selecionado no campo anterior.
    <li><b>Bairro</b>: Exibe a lista de bairros do município selecionado no campo anterior.
    <li><b>Distrito</b>: Exibe a lista de distritos do município selecionado no campo anterior.
    <li><b>Região municipal</b>: Exibe a lista de regiões do município selecionado no campo anterior.
    <li><b>Pontos de referência</b>: Campo livre, informativo
    <li><b>Observações</b>: Campo livre.
</ul>

Após preencher os dados, basta clicar em <b>Salvar</b>. Caso algum dado tenha sido preenchido incorretamente, o formulário será recarregado e um alerta em <span class="erro">vermelho</span>, no alto, será exibido. O campo que estiver com problema será destacado em <span class="erro">vermelho</span>, e uma mensagem explicará qual o problema. <br />

<br />

Após isto, o endereço será salvo. Na tela, será possível, não apenas visualizar os endereços cadastrados, como também <b>Editar</b> o endereço, <b>Excluir</b> o endereço, <b>Adicionar</b> um novo endereço ou retornar a <b>Lista</b> de endereços desse contato. <br />

<h2>Editar ou Excluir</h2>

Ao clicar em <b>Editar</b>, o SAAP abrirá o mesmo formulário, porém com os dados preenchidos, sendo possível sua alteração. <br />

<br />

Ao clicar em <b>Excluir</b>, o SAAP perguntará se o usuário deseja mesmo excluir o endereço. Basta clicar em <b>Confirmar</b> para excluir, ou <b>Cancelar</b> a exclusão. <br />

<br />
<br />
  <a href="{% url 'saap.core:help_topic' 'contatoscadastro' %}">Anterior</a> |
  <a href="{% url 'saap.core:help'%}">&Iacute;ndice</a> |
   <a href="{% url 'saap.core:help_topic' 'telefones' %}">Pr&oacute;xima</a>
<br />

</div>

{% endblock base_content %}
