{% extends "base.html" %}
{% load i18n crispy_forms_tags common_tags %}

{% block base_content %}

  <fieldset>

  <div class="clearfix">
	<a class="btn btn-info" href="{% url 'saap.cerimonial:agenda' %}?{{ prev_year }}"> Ano anterior </a>
	<a class="btn btn-info" href="{% url 'saap.cerimonial:agenda' %}?{{ prev_month }}"> Mês anterior </a>
	<a class="btn btn-inverse" href="{% url 'saap.cerimonial:agenda' %}?{{ this_month }}"> Mês atual </a>
	<a class="btn btn-info" href="{% url 'saap.cerimonial:agenda' %}?{{ next_month }}"> Próximo mês </a>
	<a class="btn btn-info" href="{% url 'saap.cerimonial:agenda' %}?{{ next_year }}"> Próximo ano </a>
	<a class="btn btn-default right" href="{% url 'saap.cerimonial:evento_create' %}"> Adicionar evento </a>
   </div>
   <br>
   Eventos que não terminam no mesmo dia possuem a informação da duração destacada em <span class="evento-longo"><b>vermelho</b></span> após o horário.
   <br>
   Eventos que possuem horário simultâneo a outros estão destacados em <span class="evento-concomitante"><b>azul</b></span>.
    {{ calendar }}

</fieldset>

{% endblock %}
