{% extends "base.html" %}
{% load i18n crispy_forms_tags common_tags %}

{% block base_content %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible fade in">
                Campo <strong>{{ field.label }}</strong> inválido! <br> {{ error|escape }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            Campo <strong>{{ field.label }}</strong> inválido! <br> {{ error|escape }}
        </div>
    {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}

  <table class="evento">
    {{ form }}
    <tr><td colspan="2">
	<a class="btn btn-inverse" href="{% url 'saap.cerimonial:agenda' %}"> Voltar </a>
	<button type="submit" class="btn btn-default right"> Salvar </button>
    </td></tr>
  </table>
</form>
{% endblock %}

{% block extra_js %}
     <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
     <script src="/static/smart-selects/admin/js/bindfields.js"></script>
{% endblock %}
