{% extends "base.html" %}
{% load i18n common_tags crispy_forms_tags%}

{% block base_content %}
  <div class="context-actions clearfix">
      {% if filter.form %}
        {% crispy filter.form %}
      {% endif %}
  </div>
  {% block extra_content %} {% endblock %}
  <div class="container-table">
    <div class="result-count">{% blocktrans with verbose_name_plural=view.verbose_name_plural %}{{ verbose_name_plural }} encontrados: <strong>{{count}}</strong>{% endblocktrans %}</div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><center>Código</center></th>
          <th>Título <br> Contatos interessados</th>
          <th>Data de abertura <br> Data de solução</th>
          <th>Classificação <br> Status</th>
          <th>Tópicos <br> Assuntos</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in page_obj %}
      <tr>
          <td style='color: green;'>
              <center><strong>{{ obj.pk }}</strong></center>
              <input type="checkbox" name="pk_{{ obj.pk|safe }}" onclick="select_pk({{ obj.pk }})" selected="false">
          <td>
              <strong>{{ obj.titulo|safe }}</strong>
              <br><br>
              {% for contato in obj.contatos.all %}
                  {{contato.nome}}<br>
              {% endfor %}
          </td>
          <td>
              <b>{{ obj.data_abertura }} </b>
              <br><br>
              {% if obj.data_solucao != None %}
                  {{ obj.data_solucao }} 
              {% else %}
                  -
              {% endif %}
          </td>
          <td>
              <strong>{{ obj.classificacao|safe }}</strong>
              <br><br>
              {{ obj.status}}
          </td>

          <td>
              {% for topico in obj.topicos.all %}
                  {% if forloop.first %}
                    <ul>
                  {% endif %}
                   <li>{{topico.descricao|safe}}</li>
                  {% if forloop.last %}
                    </ul>
                  {% endif %}
              {% endfor %}
              ----------</br>
              {% for assunto in obj.assuntos.all %}
                  {% if forloop.first %}
                    <ul>
                  {% endif %}
                    <li>{{assunto.descricao|safe}}</li>
                  {% if forloop.last %}
                    </ul>
                  {% endif %}
              {% endfor %}
          </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
  {% include "paginacao.html" %}
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    $(document).on("keypress", "form", function(event) {
        return event.keyCode != 13;
    });

    var pk_selecionados = $('[name="pk_selecionados"]');

    var select_pk = function(pk){
       if(pk_selecionados.attr("value") == null)
       {
           pk_selecionados.attr("value", "");
       }

       if(pk_selecionados.attr("value") == "")
       {
           pk_selecionados.attr("value", pk);
       }
       else
       {
           if(find_pk(pk))
           {
               pk_selecionados.attr("value", remove_pk(pk));
           }
           else
           {
               var new_value = pk_selecionados.attr("value") + "," + pk;
               pk_selecionados.attr("value", new_value);
           }
       }  
    }

    var find_pk = function(pk){
        values = pk_selecionados.attr("value").split(",");

        var found = false;
        for(var i = 0; i < values.length; i++)
        {
            if(values[i] == pk)
            {
                found = true;
            }
        }

        return found;
    }

    var remove_pk = function(pk){
        values = pk_selecionados.attr("value").split(",");

        var new_value = "";
        for(var i = 0; i < values.length; i++)
        {
            if(values[i] != pk)
            {
                if(new_value == "")
                {
                    new_value = values[i];
                }
                else
                {
                    new_value = new_value + "," + values[i];
                }
            }
        }

        return new_value;
    }

    pk_selecionados.attr("readonly", "readonly");
  </script>
{% endblock %}
